        <h1> A propos de Nous </h1>
        <p>
          <a href="http://railstutorail.org">Le tuto de Ruby On Rails  </a>
           est un projet de livre et de screencasts pour apprendre de développement web            avec <a href="http://rubyrails.org">Ruby On rails </a>.
           Ceci est l'application Exemple du tutoriel
        </p>

