<h1>Aide  </h1>

   <p>
   Obtenez de l'aide pour le Tuto RoR sur la <a href="http://railstutorial.org/help"> page d'aide du Tuto rails</a>
   Pour obtenir de l'aide sur cette application Exemple, consultez le <a href="http://railstutorial.org/book">Livre du tutoriel</a>

  </p>
